::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 7px;

  &:hover {
    background: #909090;
  }
}

.todo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e4eff7;
  width: 750px;
  height: 650px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #424242;
  font-size: 36px;
  margin: 24px 0 24px 0;
}

.form {
  max-width: 350px;
  margin: 0 auto;

  span {
    color: #ffffff;
  }

  input {
    width: 100%;
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    transition: .3s all;

    &:focus {
      border: 1px solid #000000;
    }
  }

  div {
    text-align: center;
    margin-bottom: 24px;
    cursor: pointer;
    background: #0575F3;
    padding: 5px;
    border-radius: 5px;
    transition: .3s all;

    &:hover {
      background: darken(#0575F3, 10%);
    }
  }
}

.tasks {
  overflow: auto;
  height: 60vh;

  &__add {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 25px;
    right: 25px;
    background: #0575F3;
    padding: 15px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s all;

    &:hover {
      background: darken(#0575F3, 10%);
    }

    svg {
      fill: #ffffff;
    }
  }
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  background: #fff;
  margin: 0 auto 24px;
  padding: 14px 0 14px 16px;
  border-radius: 7px;

  &__text {
    overflow: auto;
    margin: 0px 24px 0 0;
  }

  &__text-edit {
    position: relative;
    width: 370px;

    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #a9a9a9;
      font-size: 15px;
      padding: 0 36px 0 0;
    }

    svg {
      position: absolute;
      right: 0;
      fill: #a9a9a9;
      transition: .3s all;
      cursor: pointer;

      &:hover {
        fill: #4bcc00;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }

  &__edit {
    svg {
      fill: #a9a9a9;
      transition: .3s all;
      cursor: pointer;

      &:hover {
        fill: #000000;
      }
    }
  }

  &__delete {
    margin-left: 12px;

    svg {
      fill: #a9a9a9;
      transition: .3s all;
      cursor: pointer;

      &:hover {
        fill: #ff0000;
      }
    }
  }
}

.modal {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000052;
}

.modal__container {
  z-index: 10;
  position: relative;
  width: 20vw;
  height: 20vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px #302e2e12;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  &-button {
    align-self: flex-end;
    cursor: pointer;

    svg {
      fill: #a9a9a9;
      transition: .3s all;

      &:hover {
        fill: #000000;
      }
    }
  }
}